$space-large: 2.5rem;

.page-title {
	margin-top: $space-large;
	margin-bottom: $space-large;
}

input[type=search] {
	box-shadow: none;
}

body {
    background-color: #000; 
    background-image: url("http://blogs-images.forbes.com/alexandrakirkman/files/2015/03/0401_FL-mandarin-oriental-tokyo-mount-fuji_2000x1125-1152x648.jpg"); 
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;       
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    color:white
}   

.block {
  background-color: black;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  opacity: .9;
  border-radius: 10px;
  padding: 10px;
}