$space-large: 2.5rem;

.page-title {
	margin-top: $space-large;
	margin-bottom: $space-large;
}

input[type=search] {
	box-shadow: none;
}

body {
	background: url("http://www.chart-house.com/locations/san-francisco/img/overview/golden-gate-bridge.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

// .block {
//   background-color: black;
//   width: 50%;
//   border-radius: 10px;
//   opacity: .9;
//   padding: 10px;
//   margin-right: auto;
//   margin-left: auto;
//   padding: 10px;
//   margin-top: 27.5px;
// }

.block {
  background-color: black;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  opacity: .9;
  border-radius: 10px;
  padding: 10px;
}