$space-large: 2.5rem;

.page-title {
	margin-top: $space-large;
	margin-bottom: $space-large;
}

input[type=search] {
	box-shadow: none;
}

/*body {
	background: url("https://images.unsplash.com/photo-1445357715217-0b01ff0a17cf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=809d5e1bd24af52e6afc49dc869f2cbd");
  	background-size: cover;
  	background-attachment: fixed;
}

.block {
  background-color: black;
  opacity: .8;
  padding: 10px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  color: white;
}*/